/* พื้นหลังเว็บ */
body{
    font-family: Arial, sans-serif;
    background:#fffdf5;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

/* กล่องฟอร์ม */
form{
    background:rgb(202, 231, 243);
    padding:40px;
    border-radius:10px;
    width:350px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

/* หัวข้อ */
h2{
    text-align:center;
    margin-bottom:25px;
    color:#333;
}

/* label */
label{
    font-weight:bold;
    color:#555;
    margin-bottom:15px;
}

/* ช่องกรอกข้อมูล */
input{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:14px;
}

/* เมื่อคลิกช่อง input */
input:focus{
    border-color:#0cc622;
    outline:none;
}

/* ปุ่มสมัคร */
.button{
    display:block;
    width:100%;
    padding:12px;
    background:#ee92c2;
    color:white;
    border:none;
    border-radius:6px;
    font-size:16px;
    margin-bottom:15px;
    cursor:pointer;
   
}

/* hover ปุ่ม */
button:hover{
    background:#e15ca1;
}